.mainPage {
    padding: 0 10px;

    p {
        font-weight: bold;
    }

    input {
        width: auto;
        min-width: 400px;
    }
    
    button {
        padding: 1px 5px;
        margin: 0 5px;
    }
}